{% extends "layout.html" %}
{% block main %}
{% autoescape true %}


<div id="library-header">
<ul class="rollover boxed tabs">
  {% if category == 'music' %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ url_for('locker', category='music') }}">Music</a>
  </li>

  {% if category == 'misc' %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ url_for('locker', category='misc') }}">Misc.</a>
  </li>

  {% if category == 'pending' %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ url_for('locker', category='pending') }}">Pending</a>
  </li>
</ul>
</div>

<div class="tablewrapper">
  <table id="fetchtable">
    <tr>
      <th>Name</th>
      <th>Date Fetched</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>filename</td>
      <td>view</td>
      <td>download zip</td>
    </tr>
    <tr>
      <td>filename2</td>
      <td>view</td>
      <td>download zip</td>
    </tr>
    <tr height="100%">
      <td></td><td></td><td></td>
    </tr>
  </table>
</div>
{% endautoescape %}
{% endblock %}
