{% extends "layout.html" %}
{% block main %}
{% autoescape true %}


<div id="library-header">
<ul class="rollover boxed tabs">
  {% if category == 'music' %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ url_for('locker', category='music') }}">Music</a>
  </li>

  {% if category == 'misc' %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ url_for('locker', category='misc') }}">Misc.</a>
  </li>

  {% if category == 'pending' %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ url_for('locker', category='pending') }}">Pending</a>
  </li>
</ul>
</div>

{% endautoescape %}
{% endblock %}
