<html>
  <head>
    <title>Fetch</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fetch.css') }}"/>
  </head>
  
  <body>
      <header>
        <div class="container clearfix">
          <a class="site-logo" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='logo2.png') }}">
          </a>
          <ul class="navlist headitem">
            <li>
              <a href="{{ url_for('home') }}">My Fetches</a>
            </li>
            <li>
              <a href="{{ url_for('music') }}">Music</a>
            </li>
            <li>
              <a href="{{ url_for('upload') }}">Upload</a>
            </li>
          </ul>

          <ul class="navlist userbox headitem">
            {% if g.user %}
            <li>
              <a href="#">{{ g.user['username'] }}</a>
            </li>
            <li>
              <a href="{{ url_for('logout') }}">Log Out</a>
            </li>
            {% else %}
            <li>
              <a href="{{ url_for('login') }}" class="userlink">Log In</a>
            </li>
            <li>
              <a href="{{ url_for('register') }}" class="userlink">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </header>
    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="small rounded shadow flashes">
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>    
      {% endif %}
      {% endwith %}
      {% block main %}{% endblock %}
    </div>
  </body>
</html>

