{% extends "layout.html" %}
{% block main %}
{% autoescape true %}

<div class="headingblock">
    <div class="medium left">Login</div>
</div>
<div class="clear"></div>
<div class="rounded shadow inputblock">
    <form action method="POST">
        <div class="small left">Email</div>
        <input tabindex="10" name="email" type="text" class="large">
            <div class="small left">Password</div>
            <div class="right"><a href="">Forgot?</a></div>
            <input tabindex="20" name="password" type="password" class="large">
                <button tabindex="30" type="submit" class="button">Login</button>
                </form>
</div>

{% endautoescape %}
{% endblock %}
