{% extends "layout.html" %}
{% block main %}
{% autoescape true %}



<div class="headingblock">
    <div class="medium left">Register</div>
</div>
<div class="clear"></div>
<div class="rounded shadow inputblock">
    <form action method="POST">
        <div class="small left">Email</div>
        <input tabindex="10" name="email" type="text" class="large">
        <div class="small left">Name</div>
        <input tabindex="20" name="username" type="text" class="large">
        <div class="small left">Password</div>
        <input tabindex="30" name="password" type="password" class="large">
        <div class="small left">Repeat Password</div>
        <input tabindex="40" name="password2" type="password" class="large">
        <button tabindex="50" type="submit" class="button">Login</button>
    </form>
</div>

{% endautoescape %}
{% endblock %}
