{% extends "layout.html" %}
{% block main %}
{% autoescape true %}

<div class="rounded shadow inputblock">
    <form action method="POST">
        Email:
        <input tabindex="10" name="email" type="text" class="large">
        Name:
        <input tabindex="20" name="username" type="text" class="large">
        Password:
        <input tabindex="30" name="password" type="password" class="large">
        Type Password Again:
        <input tabindex="40" name="password2" type="password" class="large">
        <button tabindex="50" type="submit" class="button">Register</button>
    </form>
</div>

{% endautoescape %}
{% endblock %}
