<html>
<head>
<meta http-equiv="cache-control" content="max-age=7200, public" />
<title>Fetch - Login</title>
<link rel="stylesheet" type="text/css" href="static/fetch.css">
<link rel="stylesheet" type="text/css" href="static/login.css">
</head>

<body>
  <div class="container">
      {% if error %}<div class="error"> Error: {{ error }}</div>{% endif %}
    <div id="form-box">
      <a class="login-logo" href="/">Fetch</a>
      <form action method="POST">
        <input name="email" type="text" class="formfield"
               placeholder="Enter Email...">
        <input name="password" type="password" class="formfield" 
               placeholder="Enter Password...">
        <button type="submit" class="btn">Login</button>
      </form>
      <br>
      <a href="/register" class="shy">Request an account</a>
    </div>
  </div>
</body>
</html>
