body {
font-family: "Helvetica Neue", Helvetica, Arial;
font-size: 13px;
font-weight: normal;
color: #333;
}

a {
color: #08C;
text-decoration: none;
}

a:hover {
color: #004480;
}

div .headercell {
display: table-cell;
vertical-align: middle;
}

.main {
clear:both;
width: 90%;
margin: 0 auto;
}

header {
height: 60px;
display:table;
width: 90%;
margin: 0 auto;
}

.logo {
font-size: 50px;
font-family: ChunkFive;
display: table-cell;
vertical-align: middle;
padding: 10px;
}

.searchwell {
min-height: 20px;
padding: 10px;
display: table-cell;
vertical-align: middle;
}

.searchbox {
width: 220px;
padding: 4px;
font-size: 16px;
vertical-align: middle;
border: 1px solid #CCC;
}

.btn {
display: inline-block;
padding: 4px 10px 4px;
margin-bottom: 0;
font-size: 13px;
line-height: 18px;
color: #333;
text-align: center;
vertical-align: middle;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
background-color: whiteSmoke;
background-repeat: repeat-x;
background-image: -webkit-linear-gradient(top, white, #E6E6E6);
border: 1px solid #CCC;
border-bottom-color: #BBB;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
cursor: pointer;
}

.btn:hover {
background-color: #e6e6e6;
}

.btn-fetch {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: 
    progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',
        endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-fetch:hover,
.btn-fetch:active,
.btn-fetch.active,
.btn-fetch.disabled,
.btn-fetch[disabled] {
  background-color: #0055cc;
}
.btn-fetch:active,
.btn-fetch.active {
  background-color: #004099 \9;
}

.btn-fetch,
.btn-fetch:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.nav {
display: table-cell;
vertical-align: middle;
}

.nav li {
float:left;
}

.nav a {
display:block;
padding: 8px;
margin: 2px;
line-height; 14px;
}

.nav a:hover {
background-color: whiteSmoke;
}

.nav .active, .nav .active:hover {
color: white;
background-color: #08C;
}

.user {
display: table-cell;
vertical-align: middle;
padding: 10px;
}

.user a{
color: #333;
cursor: pointer;
font-weight: bold;
}

.svg_wrapper {
float: left;
display: block;
}

.error {
text-align: center;
margin-top: 20px;
padding: 10px;
background-color: whiteSmoke;
color: orange;
cursor: default;
font-weight: bold;
font-size: 15px;
}

.container {
min-width: 900px;
width: 100%;
margin: 0 auto;
display:block;
}

#artist-info {
float: right;
width: 250px;
}

#artist-info h1
{
text-align: center;
}

#artist-info p
{
text-align: justify;
}

#artist-info img
{
width: 100%;
margin: 0 auto;
}

#releases {
margin-right: 270px;
}


#release-types {
text-align: center;
display: table;
margin: 10px; width: 100%;
}

#release-types ul {
    height: auto;
    overflow:hidden;
}

#release-types li{
float:left;
padding: 0 5px;
}


.release-info{
background-color:whiteSmoke;
display:none;
}

.show-one{
display:block;
}

.releases-box {
}

.release-type-header {
font-size: 18px;
color: #333;
font-weight: bold;
padding: 10px;
margin: 5px 0;
cursor:default;
background-color: #FEFCAF;
background-image: -webkit-linear-gradient(top, #FEFCAF, #FFFEDA);
-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}

.release-name {
padding-left: 10px;
}

.accordion section {
border-top: 1px solid #ccc;
}

.accordion section:first-child {
border-top: none;
}


.accordion h2 {
margin: 0;
font-size: 15px;
}

.accordion h2 a {
display: block;
position: relative;
padding: 5px;
color: #333;
background-color: #FFF;
}

.accordion h2 a:hover {
background-color: #08C;
color: white;
}

.accordion h2 a img {
vertical-align: middle;
}


.accordion .release-selected .release-info{
position:relative;
overflow:visible;
display:block;
}

.accordion .release-selected h2 a {
background-color: #19D;
color: white;
}

section table {
width: 100%;
border-collapse: collapse;
border-spacing: 0;
margin: 0;
padding: 0;
}

table th {
border-width: 2px;
cursor: default;
}

table td {
color: #666;
}

table th, table td {
padding: 10px 20px;
text-align: right;
border-bottom: 1px solid #CCC;
font-size: 13px;
font-family: Arial;
}

table tr th:first-child,
table tr td:first-child {
text-align: left;
}

table tr:last-child th,
table tr:last-child td {
border-bottom: none;
}


/* HOME CSS */

.box {
}

.head {
padding: 10px 6px;
font-size: 18px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .12), inset 0 0 0 #000;
box-shadow: 0 1px 1px rgba(0, 0, 0, .12), inset 0 0 0 #000;
background: #F0F9FF;
border-top: 1px solid #82CFFA;
border-bottom: 1px solid #96C4EA;
border-left: 1px solid #E7F2FB;
border-right: 1px solid #E7F2FB;
}
